body {
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  background-image: url('site_fundo-min.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.container {
  text-align: center;
  background-color: rgba(52, 52, 181, 0.26); /* azul translúcido */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],
input[type="password"] {
  width: 250px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.options {
  margin-top: 20px;
}

.password-box {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.erro {
  color: red;
  margin-top: 10px;
}

.Direitos {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #2f39b9;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  color: #ec1313;
}

form label {
  margin-top: 10px;
  margin-bottom: 2px;
  display: block;
}

form input {
  margin-bottom: 10px;
}
